.App {
  font-family: sans-serif;
  text-align: center;
}
.btn {
  margin: 5px;
}
.count {
  text-align: right;
  float: right;
}
.Q {
  justify-content: right;
  float: left;
  font-size: 20px;
}
.Qtime {
  float: left;
  position: relative;
}
.footer-buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;  /* Optional: light background for footer */
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 10px;
}